.all-movies-container {
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .page-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .movie-list {
    list-style: none;
    padding: 0;
  }
  
  .movie-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .movie-image {
    max-width: 200px;
    margin-top: 10px;
  }