.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
    height: 30px;
    padding: 15px 250px;
  }
  
  .lefthead{
    color: white;
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 72px;
    height: 52px;
    margin-right: 10px;
  }
  
  .login-button {
    background-color: yellow;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
  }