.slider-container {
    width: 1280px;
    height: 550px;
    margin-top: 15px;
    margin-left: 280px;
  }

  .slide-item {
    position: relative;
  }
  
  .slide-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    padding: 5px 5px; 
    font-size: 54px;
    font-weight: bold;
  }
